.App {
  width: 100%;
  /*height: 100%;*/
  margin: 0;
  padding: 0;
  background-color: var(--shadow-blue);
  color: var(--floral-white);
  /* overflow-x: hidden; */
}

#LOAD {
  width: 100%;
  height: 100%;
  background-color: var(--shadow-blue);
  color: var(--floral-white);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

@media only screen and (max-width: 1023px) {
  .App {
    background-color: var(--dark-electric-blue);
  }
}

@media only screen and (max-height: 860px) {

  #myworks,
  #aboutme,
  #contact {
    height: auto;
  }

  .footer_container {
    padding: unset;
  }
}